<div id="text">
<img src="/garden.png">
<p>Eating locally is one of the best ways we have to reduce our environmental impact, empower our local communities and create links with our neighbours.</p>
<p>Localista is a web service for slow local food, to help build local communities of people that grow, sell, buy and swap food.</p>
<p>Do you want to collaborate? Are you a local community that would like to use this tool? Contact us! we@localista.org</p>
<p>Localista has been created by Jorge Zapico and Hannes Ebner during the <a href="http://london.greenhackathon.com">London Green Hackathon</a></p>
<p>Localista is released under an <a href="https://github.com/ebner/localista">Open Source</a> license.</p>
</div>