/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#all {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:white;
}

#top {
	position:absolute;
	top:0;
	left:0;
	height:100px;
	width:100%;
	background-color:#0F0E0E;
	z-index:10;
}

#text{
	margin-top:120px;
	padding:20px;	
	width:650px;
}


#menu {
	position:absolute;
	top:50px;
	right:20px;
}

#menu p{
	font-family: 'Quicksand', serif;
	font-size:18px;
	color:#F2F1E8;
}

#menu a{
	font-family: 'Quicksand', serif;
	font-size:18px;
	color:#F2F1E8;
	text-decoration:none;
}

#text p{
	font-family: 'Quicksand', serif;
	font-size:20px;
	color:#333;
}
#text h2{
	font-family: 'Quicksand', serif;
	font-size:28px;
	color:#333;
}
